host_alias=i686-cm-linux
target_platform=i686-cm
INCLUDES="$INCLUDES  \
          -I$CANMORE_HOME/local/include \
          -I$CANMORE_HOME/local/include/boost \
          -I$CANMORE_HOME/IntelCE/include \
          -I$CANMORE_HOME/IntelCE/idts_common \
          -I$CANMORE_HOME/IntelCE/usr/include \
          -I$CANMORE_HOME/IntelCE/include/linux_user \
          -I$CANMORE_HOME/IntelCE/usr/local/include \
          -I$CANMORE_HOME/local/include/freetype2 \
          -I$CANMORE_HOME/IntelCE/local/include/lzo"

CFLAGS="$CFLAGS $INCLUDES"

CXXFLAGS="$CXXFLAGS $INCLUDES"

CPPFLAGS="$CPPFLAGS $INCLUDES"


LDFLAGS="$LDFLAGS \
         -L$CANMORE_HOME/local/lib \
         -L$CANMORE_HOME/IntelCE/lib \
         -L$CANMORE_HOME/IntelCE/usr/lib \
         -L$CANMORE_HOME/IntelCE/usr/local/lib"

CROSSBIN=$CANMORE_HOME/toolchains/i686-cm-linux-

CC=${CROSSBIN}gcc

CXX=${CROSSBIN}g++

LD=${CROSSBIN}ld

AR=${CROSSBIN}ar

RANLIB=${CROSSBIN}ranlib

STRIP=${CROSSBIN}strip

OBJDUMP=${CROSSBIN}objdump 

CXXCPP="$CXX -E"

export PKG_CONFIG_LIBDIR=$CANMORE_HOME/local/lib/pkgconfig/

