#Boxee.Device.Name=dlink.dsm380

# Device HostName
#Boxee.Device.Hostname=boxeebox

# Enable/disable showing the volume up/down control (default: 0)
Boxee.Audio.AnalogVolumeControlEnabled=0

# Enable/disable encoding PCM channels into DOLBY/DTS (default: NONE)
Boxee.Audio.PreferredEncoding=NONE

# Maximum PCM channels to decode if Dolby is not available (default: -1 - all)
Boxee.Audio.Dolby.MaxPCMChannelsDecode=2

# Maximum PCM channels to encode into Dolby is that is the PreferredEncoding (default: -1 - all)
Boxee.Audio.Dolby.MaxChannelsEncode=-1

# Maximum PCM channels to decode if DTS is not available (default: -1 - all)
Boxee.Audio.DTS.MaxPCMChannelsDecode=-1

# Maximum PCM channels to encode into DTS is that is the PreferredEncoding (default: -1 - all)
Boxee.Audio.DTS.MaxChannelsEncode=-1

# Enable/disable Dolby software decoder. Under most circumstances, this should be disabled, as hardware decoder is used. (default: 0)
Boxee.Audio.Dolby.SoftwareDecoder=0

# Enable/disable DTS software decoder. Under most circumstances, this should be disabled, as hardware decoder is used. (default: 0)
Boxee.Audio.DTS.SoftwareDecoder=1
